.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userbox{
  border: 5px solid goldenrod;
  border-radius: 15px;
  padding: 5px 10px;
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
  background-color: rgb(223, 239, 234);
}

ul{
  list-style-type: none;
}

.main_block_container{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.main_block_container img{
  width: 100%;
  object-fit: contain;
}

.name{
  font-weight: bold;
}

.author{
  font-weight: 500;
  font-size: 50px;
  border: 5px solid rgb(1, 44, 44);
  border-radius: 15px;
  width: 50%;
  margin-left: 25%;
  padding: 10px;
  margin-bottom: 0;
  background-color: rgba(101, 214, 214, 0.2);
}

.author:hover{
  cursor: pointer;
  background-color: aqua;
}

.hello {
  color: #042c7b;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  display: inline-block;

}

#name{
  padding: 10px 7px;
  border-radius: 15px;
  width: 25%;
  font-size: medium;
}