.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header{
  color: #050f12;
  text-transform: capitalize;
  text-decoration: underline;
  text-underline-offset: 9px;
  text-decoration-color: chocolate;
  bottom: 20px;
  
}

.text{
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  margin-left: 25%;
  padding: 20px 10px;
  background-color: darkslategrey;
  color: azure;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttons-nav{
  padding: 5px 10px;
  display: flex;
  margin-top: 20px;
}

.btn{
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.boxes{
  border: 2px solid rgb(8, 159, 209);
  margin: 2px 4px;
  width: 50%;
  margin-left: 25%;
  background-color: rgb(231, 220, 205)
}

